In [1]:
import pickle
import numpy as np
import pandas as pd
from keras import Sequential, backend, regularizers
from keras.layers import Embedding, LSTM, Dense, Dropout, Flatten, Conv1D, MaxPooling1D
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import keras.backend
import os

Using TensorFlow backend.

In [2]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

# Load tweet data

In [3]:
# Functions for importing & cleaning relevant tweets
def lower(s):
    return s.lower()

def tweet_imports(filename):
    imp = pd.read_pickle(filename)
    imp = imp.drop_duplicates()
    imp['tweet_clean'] = imp['tweet'].str.replace('http\S+|www.\S+|pic.twitter.com\S+', '', case=False)
    imp['tweet_clean'] =imp['tweet_clean'].replace('[^A-Za-z0-9 ]+','',regex=True)
    imp['tweet_clean'] = imp['tweet_clean'].apply(lower)#map(lambda x: x.lower(), imp['tweet_clean'])
    imp['date'] = pd.to_datetime(imp['date'])
    return imp

In [4]:
cleaned_affirm_tweets = tweet_imports('all_affirm_tweets.pkl')
cleaned_deny_tweets = tweet_imports('all_deny_tweets.pkl')

In [5]:
cleaned_affirm_tweets.head()

,id,date,time,tweet,mentions,replies_count,retweets_count,likes_count,hashtags,username,search_term,label,tweet_clean
0,1177060829901885441,2019-09-25,20:22:25,#IPCC just released the #SROCC - a new report ...,[],1,40,75,"['#ipcc', '#srocc']",350,ice,1,ipcc just released the srocc a new report on ...
1,1176786922687148032,2019-09-25,02:14:00,The #IPCC special report on ocean and ice is o...,[],5,83,112,"['#ipcc', '#srocc']",350,ice,1,the ipcc special report on ocean and ice is ou...
2,1164031877910618114,2019-08-20,21:30:01,Unusually warm water surrounding one of the la...,[],1,62,93,[],350,ice,1,unusually warm water surrounding one of the la...
3,1152577659710427136,2019-07-20,06:55:02,This is one of the hottest summers on record. ...,[],0,17,26,['#abolishice'],350,ice,1,this is one of the hottest summers on record t...
4,1146328119336460288,2019-07-03,01:01:36,Antarctic ice has taken a nosedive.\n\nThe amo...,[],6,106,115,[],350,ice,1,antarctic ice has taken a nosedivethe amount o...

In [6]:
len(cleaned_affirm_tweets)

230802

In [7]:
len(cleaned_deny_tweets)

290084

In [9]:
import csv
# with open('generated.tsv','w') as f:
#     csvwriter = csv.writer(f,delimiter='\t')
#     for ix in range(100):#len(cleaned_deny_tweets)):
#         df_row = cleaned_deny_tweets.iloc[ix]
#         csvwriter.writerow([df_row['tweet_clean'],float(df_row['likes_count']),
#                                   float(df_row['retweets_count']),float(df_row['replies_count']),
#                             df_row['username']])
#     for ix in range(100):#len(cleaned_deny_tweets)):
#         df_row = cleaned_deny_tweets.iloc[-ix]
#         csvwriter.writerow([df_row['tweet_clean'],float(df_row['likes_count']),
#                                   float(df_row['retweets_count']),float(df_row['replies_count']),
#                             df_row['username']])

In [10]:
with open('generated_affirm.tsv','w') as f:
    csvwriter = csv.writer(f,delimiter='\t')
    for ix in range(100):#len(cleaned_deny_tweets)):
        df_row = cleaned_affirm_tweets.iloc[ix]
        csvwriter.writerow([df_row['tweet_clean'],float(df_row['likes_count']),
                                  float(df_row['retweets_count']),float(df_row['replies_count']),
                            df_row['username']])
    for ix in range(100):#len(cleaned_deny_tweets)):
        df_row = cleaned_affirm_tweets.iloc[-ix]
        csvwriter.writerow([df_row['tweet_clean'],float(df_row['likes_count']),
                                  float(df_row['retweets_count']),float(df_row['replies_count']),
                            df_row['username']])